.projetos {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.projetos li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem 0;
}

.projetos li h3 {
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 800;
  margin: 0;
  margin-bottom: .5rem;
}
.projetos li h3.github::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1rem;
  background-image: url("../img/icons/github.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.25s;
}

